@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}

@* the fun starts here *@

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Template</title>

        <!-- Optional theme -->
        

        <!-- Latest compiled and minified JavaScript -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="Css/style.css" rel="stylesheet" type="text/css" />

     
    </head>
    <body>
        <div id="header">
            <header>
                <div class="container header inner">
                    <nav class="navbar">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#" style="margin-top: -30px;"><img src="Image/logo.jpg"</a>
                            </div>
                            <div class="collapse navbar-collapse" id="myNavbar">
                                <ul class="nav navbar-nav navbar-right masthead-nav">
                                    <li><a href="#"> Trang chủ</a></li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Khách sạn <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Thông tin khách sạn</a></li>
                                            <li><a href="#">Hình ảnh</a></li>
                                            <li><a href="#">Sự kiện</a></li>
                                            <li><a href="#">Liên hệ</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Loại phòng <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dịch vụ <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#"> Khuyến mãi</a></li>
                                    <li><a href="#"> Tin tức</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </header>
            <div class="clearfix visible-xs-block"></div>
        </div>
        
        <!--End Header-->
        <div id="content"> @RenderBody() </div>
        <div class="clearfix visible-xs-block"></div>
        <!--End Content-->
        <div id="footer">
            <div class="container-footer">
                <div class="row">
                    <h3 class="footertext">About Us:</h3>
                    <br>
                    <div class="col-md-4">
                        <center>
                            <img src="http://oi60.tinypic.com/w8lycl.jpg" class="img-circle" alt="the-brains">
                            <br>
                            <h4 class="footertext">Programmer</h4>
                            <p class="footertext">You can thank all the crazy programming here to this guy.<br>
                        </center>
                    </div>
                    <div class="col-md-4">
                        <center>
                            <img src="http://oi60.tinypic.com/2z7enpc.jpg" class="img-circle" alt="...">
                            <br>
                            <h4 class="footertext">Artist</h4>
                            <p class="footertext">All the images here are hand drawn by this man.<br>
                        </center>
                    </div>
                    <div class="col-md-4">
                        <center>
                            <img src="http://oi61.tinypic.com/307n6ux.jpg" class="img-circle" alt="...">
                            <br>
                            <h4 class="footertext">Designer</h4>
                            <p class="footertext">This pretty site and the copy it holds are all thanks to this guy.<br>
                        </center>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <p><center><a href="#"><img src="Image/logo.jpg" /></a></center> </p>
                    </div>

                    <div class="col-md-2">
                        <p>
                            <br/> 
                            <p class="footertext" style="font-size:12px;">76 Hà Bổng, Sơn Trà, Đà Nẵng,</p>
                            <p class="footertext">01266 666 666</p>
                        </p>
                    </div>
                    <div class="col-md-2">
                        <p>
                            <center>
                                <h3 class="footertext">Liên kết</h3>
                                <p><a href="#">Phòng nghỉ</a></p>
                                <p><a href="#">Ảnh </a></p>
                                <p><a href="#">Khuyến mãi</a></p>
                            </center>
                        </p>
                    </div>
                    <div class="col-md-2">
                        <p>
                            <center>
                                <h3 class="footertext">Khách sạn</h3>
                                <p><a href="#">Thông tin</a></p>
                                <p><a href="#">Khuyến mãi</a></p>
                            </center>
                        </p>
                    </div>
                    <div class="col-md-2">
                        <p>
                            <center>
                                <p><h3 class="footertext">TRIPADVISOR</h3></p>
                            </center>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--End footer-->
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>