@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

@* the fun starts here *@

<html>
    <head></head>
    <body>
        <h1>Xin chào</h1>
        <div class="clearfix visible-xs-block"></div>
    </body>
</html>