@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

@* the fun starts here *@


<div id="content-slide">
    <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
        <!-- Overlay -->
        <div class="overlay"></div>
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#bs-carousel" data-slide-to="1"></li>
            <li data-target="#bs-carousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item slides active">
                <div class="slide-1"></div>
                <div class="hero">
                    <hgroup>
                        <h1>Template</h1>
                        <h3>Create web umbraco</h3>
                    </hgroup>
                </div>
            </div>
            <div class="item slides">
                <div class="slide-2"></div>
                <div class="hero">
                    <hgroup>
                        <h4>We very  </h4>
                        <h1>HAPPY TO SERVE YOU</h1>
                    </hgroup>
                </div>
            </div>
            <div class="item slides">
                <div class="slide-3"></div>
                <div class="hero">
                    <hgroup>
                        <h3>Welcome to</h3>
                        <h1>KHÁCH SẠN ĐÀ NẴNG GREENERY</h1>
                    </hgroup>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="section-accomd awe-parallax bg-14">
    <div class="container">
        <div class="accomd-modations">
            <div class="row" >
                <div class="col-md-12">
                    <div class="accomd-modations-header">
                        <h2>PHÒNG NGHỈ</h2>
                        <img src="http://dananggreeneryhotel.com/public/images/icon-accmod.png" alt="icon">
                        <p>Tất cả các phòng tại Da Nang Greenery Hotel đều được thiết kế đặc biệt rộng rãi với phong cách hiện đại, nhằm mang đến cho du khách một không gian sống tiện nghi, thoải mái và hoàn toàn thư thái...</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="accomd-modations-content_1">
                        <div class="accomd-modations-slide_1 owl-carousel owl-theme">
                            <div class="owl-wrapper-outer">
                                <ul>
                                    <li>
                                        <div class="accomd-modations-room_1">
                                            <div class="img">
                                                <a href="#"><img src="../Image/slide1.jpg"</a>
                                            </div>
                                            <div class="text">
                                                <h2 class="home-room-title">
                                                    Phòng Grand Deluxe Hai Giường Đôi
                                                </h2>
                                                <p class="desc">
                                                    Phòng nghỉ được thiết kế tinh tế cùng nội thất hiện đại.
                                                    Phù hợp với nhu cầu du lịch hay công tác ngắn ngày của cá nhân.
                                                </p>
                                                <div class="wrap-price">
                                                    <p class="price">
                                                        <span class="amout">$1500</span> /ngày
                                                    </p>
                                                    <a href="" class="awe-btn awe-btn-default">
                                                        XEM THÊM
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li style="margin-left:30px; margin-right: 30px;">
                                        <div class="accomd-modations-room_1" >
                                            <div class="img">
                                                <a href="#"><img src="../Image/slide1.jpg"</a>
                                            </div>
                                            <div class="text">
                                                <h2 class="home-room-title">
                                                    Phòng Grand Deluxe Hai Giường Đôi
                                                </h2>
                                                <p class="desc">
                                                    Phòng nghỉ được thiết kế tinh tế cùng nội thất hiện đại.
                                                    Phù hợp với nhu cầu du lịch hay công tác ngắn ngày của cá nhân.
                                                </p>
                                                <div class="wrap-price">
                                                    <p class="price">
                                                        <span class="amout">$1500</span> /ngày
                                                    </p>
                                                    <a href="" class="awe-btn awe-btn-default">
                                                        XEM THÊM
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="accomd-modations-room_1">
                                            <div class="img">
                                                <a href="#"><img src="../Image/slide1.jpg"</a>
                                            </div>
                                            <div class="text">
                                                <h2 class="home-room-title">
                                                    Phòng Grand Deluxe Hai Giường Đôi
                                                </h2>
                                                <p class="desc">
                                                    Phòng nghỉ được thiết kế tinh tế cùng nội thất hiện đại.
                                                    Phù hợp với nhu cầu du lịch hay công tác ngắn ngày của cá nhân.
                                                </p>
                                                <div class="wrap-price">
                                                    <p class="price">
                                                        <span class="amout">$1500</span> /ngày
                                                    </p>
                                                    <a href="" class="awe-btn awe-btn-default">
                                                        XEM THÊM
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-home-about bg-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12" style="margin-bottom: 20px;">
                <div class="col-lg-6 col-md-6">
                    <img src="../Image/slide3.jpg" height="200" />
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="text">
                        <h2 class="heading">Về Báo </h2>
                        <span class="box-border"></span>
                        <p>
                            Khách sạn Đà Nẵng Greenery tọa lạc tại một vị trí tuyệt đẹp trên con đường Bạch Đằng nằm bên bờ sông Hàn thơ mộng, nơi bạn có thể ngắm nhìn toàn cảnh thành phố biển Đà Nẵng với những cây cầu nổi tiếng với ánh sáng nghệ thuật rực rỡ về đêm góp phần làm nên vẻ đẹp hiện đại và độc đáo của thành phố này.
                            <br>
                            Với sự đầu tư kĩ lưỡng, được chăm chút đến từng chi tiết nhỏ, Đà Nẵng Greenery mang một phong cách hoàn toàn mới lạ và tinh tế của một khách sạn đẳng cấp quốc tế 3 sao...
                        </p>
                        <a href="#" class="awe-btn awe-btn-default">XEM THÊM</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="col-lg-6 col-md-6">
                    <img src="../Image/slide3.jpg" />
                   
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="text">
                        <h2 class="heading">Về Báo </h2>
                        <span class="box-border"></span>
                        <p>
                            Khách sạn Đà Nẵng Greenery tọa lạc tại một vị trí tuyệt đẹp trên con đường Bạch Đằng nằm bên bờ sông Hàn thơ mộng, nơi bạn có thể ngắm nhìn toàn cảnh thành phố biển Đà Nẵng với những cây cầu nổi tiếng với ánh sáng nghệ thuật rực rỡ về đêm góp phần làm nên vẻ đẹp hiện đại và độc đáo của thành phố này.
                            <br>
                            Với sự đầu tư kĩ lưỡng, được chăm chút đến từng chi tiết nhỏ, Đà Nẵng Greenery mang một phong cách hoàn toàn mới lạ và tinh tế của một khách sạn đẳng cấp quốc tế 3 sao...
                        </p>
                        <a href="#" class="awe-btn awe-btn-default">XEM THÊM</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="slide-two">
    <div id="first-slider">
        <div id="carousel-example-generic" class="carousel slide carousel-fade">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <!-- Item 1 -->
                <div class="item active slide1">
                    <div class="row">
                        <div class="container">
                            <div class="col-md-3 text-right">
                                <img style="max-width: 200px;" data-animation="animated zoomInLeft" src="http://s20.postimg.org/pfmmo6qj1/window_domain.png">
                            </div>
                            <div class="col-md-9 text-left">
                                <p style="color: white">Thức ăn bữa sáng rất tuyệt, phòng ngăn nắp và sạch sẽ, vị trí yên bình... Tôi đã có chuyến du lịch Đà Nẵng đáng nhớ, một phần là nhờ vào sự phục vụ chu đáo và tận tình của nhân viên ở Da Nang Greenery Hotel. Nếu quay lại Đà Nẵng, chắc chắn sẽ ủng hộ các bạn. Cảm ơn khách sạn rất nhiều.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Item 2 -->
                <div class="item slide2">
                    <div class="row">
                        <div class="container">
                            <div class="col-md-7 text-left">
                                <h3 data-animation="animated bounceInDown"> 50 animation options A beautiful</h3>
                                <h4 data-animation="animated bounceInUp">Create beautiful slideshows </h4>
                            </div>
                            <div class="col-md-5 text-right">
                                <img style="max-width: 200px;" data-animation="animated zoomInLeft" src="http://s20.postimg.org/sp11uneml/rack_server_unlock.png">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Item 3 -->
                <div class="item slide3">
                    <div class="row">
                        <div class="container">
                            <div class="col-md-7 text-left">
                                <p style="color: white">Khách sạn gần biển, vị trí đẹp dễ tìm kiếm, Mọi thứ đều tuyệt vời. Rất hài lòng với đội ngũ nhân viên nhiệt tình, ấn tượng Buffet khá nhiều món ngon và sạch sẽ. Phòng ngủ rộng rãi thoáng mát gọn gàng ngăn nắp, có đầy đủ các dịch vụ... </p>
                            </div>
                            <div class="col-md-5 text-right">
                                <img style="max-width: 200px;" data-animation="animated zoomInLeft" src="http://s20.postimg.org/eq8xvxeq5/globe_network.png">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Item 4 -->
                <div class="item slide4">
                    <div class="row">
                        <div class="container">
                            <div class="col-md-7 text-left">
                                <h3 data-animation="animated bounceInDown">We are creative</h3>
                                <h4 data-animation="animated bounceInUp">Get start your next awesome project</h4>
                            </div>
                            <div class="col-md-5 text-right">
                                <img style="max-width: 200px;" data-animation="animated zoomInLeft" src="http://s20.postimg.org/9vf8xngel/internet_speed.png">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Item 4 -->

            </div>
            <!-- End Wrapper for slides-->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <i class="fa fa-angle-left"></i><span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <i class="fa fa-angle-right"></i><span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>